{% include 'base.html' %}
{% block content  %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>
<div class="container">

    <h1 class='text-center mt-3'>Resultado</h1>
    <hr>
    <h4 class='text-center text-secondary'>O resultado da classificação do <b>{{ patient }}</b> é classificação
        <b>{{ classification_result }}</b></h4>


    <!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <div class="panel-heading">
            <h5 class="card-header">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse">
                    Relatórios da base de dados</a>
            </h5>
        </div>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapse">
            <div class="card-body">
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Total de Pacientes</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_patients}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Annual) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Pacientes Ativos</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{active_patients}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tasks Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Quantidade
                                            exportado
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{exported_patients}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Falta exportar</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{waiting_export_patients}}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <div class="panel-heading">
            <h5 class="card-header">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse">
                    Ordem prioridade!</a>
            </h5>
        </div>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapse">
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class='table-secondary' scope="col" data-toggle="tooltip"
                                        title="Ordem">Ordem</th>
                                    <th class='table-secondary' scope="col" data-toggle="tooltip"
                                        title="Nome do Paciente">Nome</th>
                                    <th class='table-secondary' scope="col" data-toggle="tooltip" title="Idade">Idade
                                    </th>
                                    <th class='table-secondary' scope="col" data-toggle="tooltip" title="classificação">
                                        classificação</th>
                                    <th class='table-secondary' scope="col">Ação</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">

                                {% if topfive %}

                                {% for data in topfive %}
                                <tr>
                                    <th scope="row">{{data}}</th>
                                    <td>{{ data.patient }}</td>
                                    <td>{{ data.age  }}</td>
                                    <td>{{ data.classification }}</td>
                                    <td>

                                        <a href="{% url 'disable' data.id %}" class="btn btn-danger m-1"> Desativar </a>

                                    </td>

                                </tr>

                                {% endfor %}

                                {% else %}

                                <p>No Data in The Database so Far!</p>

                                {% endif %}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

        <a class='btn btn-primary mt-4 p-1 text-center' href="{% url 'home' %}">Go Back</a>
        <a class='btn btn-success mt-4 p-1 text-center' href="{% url 'makeGroups' %}">Make Groups</a>
    </div>

    {% endblock content  %}