{% include 'base.html' %}

{% block content  %}

<div class='container mb-6 mt-2 p-4'>
    <div class='row'>
        <form action="{% url 'patient' %}">
            {% csrf_token %}
            <div class='row'>
                <div class='col-md-12'>

                    <div class='col-md-8'>
                        <h4 class="mb-3">Dados do Paciente</h4>
                        <span><i>Dados do paciente para identificação.</i></span>

                        <div class="mb-3"></div>
                        <label for="patient" class="form-label">Nome</label>
                        <input type="text" class="form-control" name="patient" id="patient" required
                            placeholder="Digite o nome completo do paciente">
                    </div>

                    <div class="col-md-3">
                        <label for="age" class="form-label">Idade</label>
                        <input type="number" class="form-control" name="age" id="age" required
                            placeholder="Digite a idade do paciente">
                    </div>
                    <br> <br>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="card-header">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse">
                                    1. Previsão de sobrevivência a curto prazo, determinado o Sequential Organ Failure
                                    Assessment - SOFA
                                    (simplificado).</a>
                            </h5>
                        </div>
                        <div id="collapse" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <!--NEUROLOGICAL-->
                                <div class="card" style="width: 100%;"></div>

                                <div class="card" style="width: 100%;">
                                    <div class="card-body">

                                        <h5 class="card-title">NEUROLÓGICO</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Escala de Coma de Glasgow</h6>

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" id="neuro0" name="neurological" type="radio"
                                                value="0" required>
                                            <label class="form-check-label" for="neuro0"></label>

                                            <span class="item-subtitle"> 15 </span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" id="neuro1" name="neurological" type="radio"
                                                value="1" required>
                                            <label class="form-check-label" for="neuro1"></label>
                                            <span class="item-subtitle">13 a 14</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" id="neuro2" name="neurological" type="radio"
                                                value="2" required>
                                            <label class="form-check-label" for="neuro2"></label>
                                            <span class="item-subtitle">10 a 12</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" id="neuro3" name="neurological" type="radio"
                                                value="3" required>
                                            <label class="form-check-label" for="neuro3"></label>
                                            <span class="item-subtitle">6 a 9</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" id="neuro4" name="neurological" type="radio"
                                                value="4" required>
                                            <label class="form-check-label" for="neuro4"></label>
                                            <span class="item-subtitle"> &lt;6 </span>
                                        </div>
                                    </div>
                                </div>

                                <!--CARDIOVASCULAR-->
                                <div class="card" style="width: 100%;">
                                    <div class="card-body">
                                        <h5 class="card-title">CARDIOVASCULAR</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Hipotensão,<br>mmHG</h6>
                                        <!--Init-->
                                        <div class="form-check form-check-inline">
                                            <input id="cardio0" name="cardiovascular" type="radio" value="0"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="cardio0"></label>
                                            <span class="item-subtitle">-</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="cardio1" name="cardiovascular" type="radio" value="1"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="cardio1"></label>
                                            <span class="item-subtitle">PAM&lt;70mmHg</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="cardio2" name="cardiovascular" type="radio" value="2"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="cardio2"></label>
                                            <span class="item-subtitle">Dopamina ≤ 5 ou Dobutamina qualquer dose</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="cardio3" name="cardiovascular" type="radio" value="3"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="cardio3"></label>
                                            <span class="item-subtitle">Dopamina &gt; 5 ou Noradrenalina ≤ 0,1</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="cardio4" name="cardiovascular" type="radio" value="4"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="cardio4"></label>
                                            <span class="item-subtitle"> Dopamina &gt; 15 ou Noradrenalina &gt;
                                                0,1</span>
                                        </div>
                                        <!--End-->
                                    </div>
                                </div>

                                <!--RESPIRATORY-->
                                <div class="card" style="width: 100%;">
                                    <div class="card-body">
                                        <h5 class="card-title">RESPIRATÓRIO</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Saturação<br>Periférica de O2</h6>
                                        <!--Init-->
                                        <div class="form-check form-check-inline">
                                            <input id="resp0" name="respiratory" type="radio" value="0"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="resp0"></label>
                                            <span class="item-subtitle">-</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="resp1" name="respiratory" type="radio" value="1"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="resp1"></label>
                                            <span class="item-subtitle">SpO2&gt;92% com Cateter nasal O2 até
                                                2l/min</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="resp2" name="respiratory" type="radio" value="2"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="resp2"></label>
                                            <span class="item-subtitle">SpO2&gt; 92% com Cateter nasal O2 até
                                                5l/min</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="resp3" name="respiratory" type="radio" value="3"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="resp3"></label>
                                            <span class="item-subtitle">SpO2&gt;92% com ventilação mecânica com FiO2 até
                                                40%</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="resp4" name="respiratory" type="radio" value="4"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="resp4"></label>
                                            <span class="item-subtitle"> SpO2&gt; 92% com ventilação mecânica com
                                                FiO2&gt;
                                                40% </span>
                                        </div>

                                        <!--End-->
                                    </div>
                                </div>

                                <!--COAGULATION-->
                                <div class="card" style="width: 100%;">
                                    <div class="card-body">
                                        <h5 class="card-title">COAGULAÇÃO</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Plaquetas 10³/µl</h6>
                                        <!--Init-->
                                        <div class="form-check form-check-inline">
                                            <input id="coag0" name="coagulation" type="radio" value="0"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="coag0"></label>
                                            <span class="item-subtitle">-</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="coag1" name="coagulation" type="radio" value="1"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="coag1"></label>
                                            <span class="item-subtitle">&lt;150</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="coag2" name="coagulation" type="radio" value="2"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="coag2"></label>
                                            <span class="item-subtitle">&lt;100</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="coag3" name="coagulation" type="radio" value="3"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="coag3"></label>
                                            <span class="item-subtitle">&lt;50</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="coag4" name="coagulation" type="radio" value="4"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="coag4"></label>
                                            <span class="item-subtitle"> &lt;20 </span>
                                        </div>
                                        <!--End-->
                                    </div>
                                </div>

                                <!--HEPATIC-->
                                <div class="card" style="width: 100%;">
                                    <div class="card-body">
                                        <h5 class="card-title">HEPÁTICO</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Inspeção</h6>
                                        <!--Init-->
                                        <div class="form-check form-check-inline">
                                            <input id="hepa0" name="hepatic" type="radio" value="0"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="hepa0"></label>
                                            <span class="item-subtitle">-</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="hepa1" name="hepatic" type="radio" value="1"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="hepa1"></label>
                                            <span class="item-subtitle">&lt;1,1 Anictérico</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="hepa2" name="hepatic" type="radio" value="2"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="hepa2"></label>
                                            <span class="item-subtitle">1,1 - 1,36</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="hepa3" name="hepatic" type="radio" value="3"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="hepa3"></label>
                                            <span class="item-subtitle">1,36 - 1,8</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="hepa4" name="hepatic" type="radio" value="4"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="hepa4"></label>
                                            <span class="item-subtitle">1,88 - 2,15 Ictérico</span>
                                        </div>
                                        <!--End-->
                                    </div>
                                </div>

                                <!--RENAL-->
                                <div class="card" style="width: 100%;">
                                    <div class="card-body">
                                        <h5 class="card-title">RENAL</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Creatinina (mg/dL)<br>Diurese (mL/dia)
                                        </h6>
                                        <!--Init-->
                                        <div class="form-check form-check-inline">
                                            <input id="re0" name="renal" type="radio" value="0" class="form-check-input"
                                                required>
                                            <label class="form-check-label" for="re0"></label>
                                            <span class="item-subtitle">-</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="re1" name="renal" type="radio" value="1" class="form-check-input"
                                                required>
                                            <label class="form-check-label" for="re1"></label>
                                            <span class="item-subtitle">1,2 - 1,9<br> &gt;500</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="re2" name="renal" type="radio" value="2" class="form-check-input"
                                                required>
                                            <label class="form-check-label" for="re2"></label>
                                            <span class="item-subtitle">2 - 3,4 -</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="re3" name="renal" type="radio" value="3" class="form-check-input"
                                                required>
                                            <label class="form-check-label" for="re3"></label>
                                            <span class="item-subtitle">3,5 - 4,9 &lt;500</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="re4" name="renal" type="radio" value="4" class="form-check-input"
                                                required>
                                            <label class="form-check-label" for="re4"></label>
                                            <span class="item-subtitle"> &gt;5,0 &lt;200 </span>
                                        </div>
                                        <!--End-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="card-header">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    2. Previsão de sobrevivência a longo prazo, avaliado pela presença de
                                    comorbidades.</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <!--ICC-->
                                <div class="card" style="width: 100%;">
                                    <div class="card-body">
                                        <h5 class="card-title">ICC</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Índice de Comorbidades</h6>
                                        <!--Init-->
                                        <div class="form-check form-check-inline">
                                            <input id="icc1" name="icc" type="radio" value="2" class="form-check-input"
                                                required>
                                            <label class="form-check-label" for="icc1"></label>
                                            <span class="item-subtitle"> Pacientes com expectativa de sobrevida inferior
                                                a
                                                cinco
                                                anos </span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="icc2" name="icc" type="radio" value="4" class="form-check-input"
                                                required>
                                            <label class="form-check-label" for="icc2"></label>
                                            <span class="item-subtitle"> Pacientes com expectativa de sobrevida inferior
                                                a
                                                um
                                                ano </span>
                                        </div>
                                        <!--End-->
                                    </div>
                                </div>

                                <!--ECOG-->
                                <div class="card" style="width: 100%;">
                                    <div class="card-body">
                                        <h5 class="card-title">ECOG - Eastern Cooperative Oncology Group</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">* Só deve ser aplicada para doentes
                                            com
                                            idade
                                            igual ou
                                            superior a 60 anos.</h6>
                                        <!--Init-->
                                        <div class="form-check form-check-inline">
                                            <input id="ECOG0" name="ecog" type="radio" value="0"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="ECOG0"></label>
                                            <span class="item-subtitle"> Completamente ativo</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="ECOG1" name="ecog" type="radio" value="1"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="ECOG1"></label>
                                            <span class="item-subtitle"> Restrição a atividades físicas rigorosas</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input id="ECOG2" name="ecog" type="radio" value="2"
                                                class="form-check-input" required>
                                            <label class="form-check-label" for="ECOG2"></label>
                                            <span class="item-subtitle"> Auto-cuidados</span>
                                        </div>
                                        <div class="check-group">
                                            <input id="ECOG3" name="ecog" type="radio" value="3"
                                                class="check-btn check-btn" required>
                                            <label class="check-btn check-btn" for="ECOG3"></label>
                                            <span class="item-title"> Auto-cuidados limitados</span>
                                        </div>
                                        <div class="check-group">
                                            <input id="ECOG4" name="ecog" type="radio" value="4"
                                                class="check-btn check-btn" required>
                                            <label class="check-btn check-btn" for="ECOG4"></label>
                                            <span class="item-title"> Completamente incapaz</span>
                                        </div>
                                        <!--End-->
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <button type="submit" value="Submit" style="width: 100%;"
                class="btn btn-success mt-4 mb-4 shadow pt-3 pb-4 pl-1 pr-1">Enviar
            </button>
        </form>
    </div>
</div>


{% endblock content  %}